<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssuredAutomationFramework">
    <test name="ProjXAPITests">
        <classes>
            <class name="tests.GETRequestTests">
                <methods>
                    <include name="TestTenants"/>
                    <include name="TestNotificationsCount"/>
                    <include name="TestAuthServiceMe"/>
                </methods>
            </class>
            <class name="tests.POSTRequestTests">
                <methods>
                    <include name="TestCreateAProject"/>
                    <include name="TestDeleteProject"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
